@mixin media($point) {
  @if $point==xlg {
    @media (min-width: 1600px) {
      @content;
    }
  } @else if $point==lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point==sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point==xs {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@import './Fonts';
@import './Colors';

* {
  appearance: none;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background-color: $c-01;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;

  @include media(sm) {
    width: 750px;
  }

  @include media(md) {
    width: 970px;
  }

  @include media(lg) {
    width: 1170px;
  }
}

.main {
  flex: 1 0 auto;
}
