.a-button {
  align-items: center;
  cursor: pointer;
  display: flex;

  &--logout {
    background-image: url('../../images/icon-logout.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 13px;
    padding-right: 20px;
  }

  &--search {
    align-items: center;
    background-color: $c-03;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    justify-content: center;
    top: 0;
    width: 40px;
  }

  &--modal-open {
    background: red;
    position: relative;
    padding: 10px 16px;
    z-index: 10;
  }

  &--modal-close {
    background: yellow;
    position: fixed;
    left: 0;
    padding: 10px 16px;
    top: 0;
    z-index: 9999;
  }
}
